<div class="preloader abs-center">
  <div class="spinner"></div>
</div>

<div class="content-wrapper">
  <div class="v-center">
    <div class="main-content">
      <p>
        Hello, this is Sven. I create simple and elegant websites. I challenge myself to grow and get better at my work everyday.
        I have been doing this for the past 8 years in the field of web development. Check my <a href="#">portfolio</a>.
      </p>
      <ul>
        <li><a href="http://twitter.com/svencreations">Twitter</a></li>
        <li><a href="http://facebook.com/svencreations">Facebook</a></li>
        <li><a href="https://dribbble.com/svencreations">Dribbble</a></li>
        <li><a href="mailto:svencreations@gmail.com">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="sven-badge">
  <a href="https://goo.gl/v5TTt9">&#169; Design : <span>SvenCreations</span></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script src="js/dependencies.js"></script>
<script src="js/main.js"></script>
